/* Animation float circle */
.floating {
    animation-name: floating;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

.floating {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 50px solid #fbe8e8;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}
@keyframes floating {
    from {
        transform: translate(0, 0px)
    }

    65% {
        transform: translate(0, 30px)
    }

    to {
        transform: translate(0, -0px)
    }
}
